.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // min-height: minmax(min-content, 30rem);
  grid-gap: 1.5rem;
  margin: 1.5rem;

  @include respond(big-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include respond(tab-land) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}
