.product-details {
  display: flex;
  margin: 2rem;

  color: $color-white;
  font-size: 1.6rem;

  @include respond(phone) {
    flex-direction: column;
  }

  &__image-container {
    margin-right: 2rem;
    flex-basis: 50%;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__content {
    flex: 1;
  }

  &__title {
    font-size: 2.2rem;
  }

  &__details {
    padding: 0 1rem;
  }

  &__size {
    margin-top: 2rem;
  }

  &__contact {
    margin-top: 4rem;
    font-size: 1.5rem;

    p {
      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }
    }
  }
}

.gray-label {
  color: $color-light-gray;
}

.contact-email {
  font-weight: 600;
}
