.product-category-radio {
  margin: 1.5rem;
  display: flex;
  color: $color-white;
  font-size: 1.6rem;

  &__title {
    margin-right: 2rem;
  }

  &__option {
    margin-right: 2rem;

    label {
      padding-right: 1rem;
    }
  }
}
