.product-item {
  height: min-content;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(39, 39, 39);

  a,
  a:visited,
  a:link {
    text-decoration: none;
  }

  &__image-container {
    height: 70%;
    width: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__title {
    color: $color-white;
    text-align: center;
    font-size: 2rem;
    margin: 6px 0;
  }

  &__content {
    padding: 5px;
    color: $color-white;
  }

  &__description {
    font-size: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__footer {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__variants {
    font-size: 1.2rem;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
